*, ** {
  box-sizing: border-box;
}


// Import full Spectre source code
$primary-color: #1a75d2;
$dark-color: #262b2f;

@import 'css-framework';


code {
  padding-left: 0;
}

body {
  font-family: 'Open Sans', sans-serif;  
  --surface-color: #f4f5f6;
}


.navigation {
  position: sticky;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--surface-color);
  z-index: 999;

  &__inner {
    align-items: center;
  }

  &__logo {
    flex: 1 1 auto;
  }
}

.octocat {
  border: 0;
  color: #f4f5f6;
  fill: #d21acc;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.octocat .octocat-arm, .octocat .octocat-body {
  fill: #f4f5f6;
}


.docs-section {
  padding-top: 100px;
  margin-top: -40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

  &--intro {
    padding-top: 140px;
    background: linear-gradient(120deg, #1a75d2 50%, #d21acc);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: white;
    min-height: 500px;
  }

  &.hero {
    padding-bottom: 20px;
  }

}

div.code-toolbar > .toolbar {
  button {
    outline: none;
    color: white;

    &:hover {
      cursor: pointer;
      color: white;
      opacity: .9;
    }
  }
}

.skeleton-example-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skeleton-example {
  padding: 15px;
  background-color: #fff;
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  justify-content: center;
  align-items: center;
  display: inline-flex;

  .card {
    width: 350px;
  }

  .card-image {
    min-height: 240px;
  }
}

.action-button {
  margin-top: 15px;
}

@media (max-width: 960px) {
  .main-menu {
    display: none !important;
  }
}

.intro-card {
  min-height: 460px;

  nb-skeleton {
    display: none;
  }

  &.is-loading {
    nb-skeleton {
      display: block;
    }

    img, .avatar, .card-body, .card-footer {
      visibility: hidden;
      position: absolute;
      pointer-events: none;
    }
  }
}

.choose {
  margin: 20px 0 15px;
}
